<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>slug</key>
		<string>Cali</string>
		<key>name</key>
		<string>Cali</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/01/cali-avatar.jpg</string>
		<key>id</key>
		<integer>543</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>Anne</string>
		<key>name</key>
		<string>Anne</string>
		<key>avatar</key>
		<string>http://abletive.com/wp-content/uploads/avatars/avatar-43.png</string>
		<key>id</key>
		<integer>43</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>color-light</string>
		<key>name</key>
		<string>Color Light</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/01/Black-240x240.png</string>
		<key>id</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>Dzaya</string>
		<key>name</key>
		<string>Cherry</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/avatars/2795/e647e36c096e68c4eaf6c96f3500b939-bpfull.jpg</string>
		<key>id</key>
		<integer>2795</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>Double-S</string>
		<key>name</key>
		<string>Double S</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/avatars/572/d3ca77f5a025edc814f3e7e04a854c10-bpfull.jpg</string>
		<key>id</key>
		<integer>572</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>genei</string>
		<key>name</key>
		<string>Genei</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/02/genei-256_256-240x240.png</string>
		<key>id</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>taioes</string>
		<key>name</key>
		<string>Taioes</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/02/QQ%E5%9B%BE%E7%89%8720150201210046-240x240.jpg</string>
		<key>id</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>1270092976qq-com</string>
		<key>name</key>
		<string>Madman Hu</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/03/psb.jpg</string>
		<key>id</key>
		<integer>797</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>Boluop</string>
		<key>name</key>
		<string>椒盐菠萝P</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/02/sample_d7082afeea4796c878d0aeaad89568f2.png</string>
		<key>id</key>
		<integer>343</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>zwq314378</string>
		<key>name</key>
		<string>Jason</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/avatars/796/fe62e16e24b7873f2517a709d6d6e8b7-bpfull.jpg</string>
		<key>id</key>
		<integer>796</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>SIKEMU</string>
		<key>name</key>
		<string>cC、</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/03/QQ%E6%88%AA%E5%9B%BE20150307190250-180x180.png</string>
		<key>id</key>
		<integer>535</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>axuan</string>
		<key>name</key>
		<string>阿瑄</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/02/QQ%E5%9B%BE%E7%89%8720150228215919.jpg</string>
		<key>id</key>
		<integer>711</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>beasjul</string>
		<key>name</key>
		<string>BeasJul</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/01/20121115165218_yQH3r.jpeg</string>
		<key>id</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>MixL</string>
		<key>name</key>
		<string>MixL</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/01/t018d68efcc7da4674c-1.jpg</string>
		<key>id</key>
		<integer>97</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>skey</string>
		<key>name</key>
		<string>Skey</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/02/black-bg-LOGO-240x240.png</string>
		<key>id</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>ufo3641</string>
		<key>name</key>
		<string>ufo3641</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2015/02/1366415680433.jpg</string>
		<key>id</key>
		<integer>182</integer>
	</dict>
	<dict>
		<key>slug</key>
		<string>Aquoibon</string>
		<key>name</key>
		<string>Aquoibon</string>
		<key>avatar</key>
		<string>https://abletive.com/wp-content/uploads/2014/12/Camera360_20140221175510-320x240.jpg</string>
		<key>id</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
