<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper1.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper2.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper3.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper4.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper5.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper6.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper7.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper8.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper9.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper10.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper11.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper12.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper13.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper14.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper15.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper16.png</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper17.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper18.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper19.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper20.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper21.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper22.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper23.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper24.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper25.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper26.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper27.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper28.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper29.jpg</string>
	<string>http://abletive.com/ios/wallpaper/full/wallpaper30.jpg</string>
</array>
</plist>
