<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Abletive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AbletiveToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D315A0A1B2BEA7200A258CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D315A261B2BEA7200A258CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D315A311B2BEA7200A258CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D4E903C1BE2608500C187F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D4E90541BE2608600C187F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D4E905F1BE2608600C187F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D6652591BFB4D18001DBAE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D68169E1BD246BF00B21CAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DA7DA411BDFDA4F00CAF12E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DFC55A51BD9489A000A9111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DFC55E71BD94BC9000A9111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DFC55FE1BD94E52000A9111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
